/* >>>>>>> GLOBAL <<<<<<< */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
    padding: 0px;
}

input, button {
    border: none;
    outline: none;
}

header{
    margin-bottom: 50px;
}

header .menu nav {
    background: #292b36;
    overflow: hidden;
    padding-left: 10px;
}

header .menu nav ul {
    list-style: none;
}

header .menu nav li {
    float: left;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
}
  
header .menu nav li a {
    padding: 15px 20px;
    min-width: 100px;
    display: block;
    text-decoration: none;
    background: #292b36;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

header .menu nav li ul{
    display: none;
    position: absolute;
}

header .menu nav li ul a{
    background: #292b36;
}

header .menu nav li:hover > ul{
    display: block;
}

header .menu nav li a:hover {
    background: #343644;
}

table{
    display: block;
    width: 600px;
    margin: auto;
    padding: 20px;
    border: none;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
}

article{
    width: 70%;
}

article h2{
    font-size: 40px;
}

article img{
    float: left;
    margin-right: 10px;
}

#convert{
    cursor: pointer;
    -webkit-appearance: none;
    background:#292b36;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    width:300px;
    height:50px;
}

#convert:hover{
    background: #343644;
}

#clear{
    cursor: pointer;
    -webkit-appearance: none;
    background:#292b36;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    width:150px;
    height:50px;
    float: right;
}

#clear:hover{
    background: #343644;
}

/* >>>>>>> INDEX <<<<<<< */
.globalIndex{
    height: 100vh;
    min-width: 1080px;
    background-color: #292b36;
    color: white;
}



/* >>>>>>> TEMPERATURA <<<<<<< */

.globalTemperatura{
    height: 100vh;
    min-width: 1080px;
    background-color: #C73E52;
    color: white;
}

.artigoTemperatura{
    padding: 150px 50px 50px 50px;
    height: 120vh;
    min-width: 1080px;
    background-color: #eeeeee;
    color: #333333;
}

#celsius{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#fahrenheit{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
}

#kelvin{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* >>>>>>> MASSA <<<<<<< */
.globalMassa{
    height: 100vh;
    min-width: 1080px;
    background-color: #3E7A4A;
    color: white;
}

.artigoMassa{
    padding: 150px 50px 50px 50px;
    height: 120vh;
    min-width: 1080px;
    background-color: #eeeeee;
    color: #333333;
}

#tonelada{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#kilo{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
}

#grama{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
}

#miligrama{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
}

#libra{
    background-color: #292b36;
    width: 540px;
    padding: 10px;
    color: #5af7dd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* >>>>>>> CESAR <<<<<<< */

.globalCesar{
    height: 100vh;
    min-width: 1080px;
    background-color: #5c4b7a;
    color: white;
}

.artigoCesar{
    padding: 150px 50px 50px 50px;
    height: 70vh;
    min-width: 1080px;
    background-color: #eeeeee;
    color: #333333;
}

#input-original, #resultado {
    background-color: #292b36;
    width: 540px;
}

#input-original {
    padding: 10px;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#resultado {
    height: 200px;
    color: #5af78d;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#rangeBox {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    
}

#range {
    -webkit-appearance: none;
    border-radius: 4px;
    background:#292b36;
    margin-right: 5px;
    padding: 0 5px;
    height: 20px;
}

#range::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background:white;
    height:20px;
    width:10px;
}

#decodificar {
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background-color: #292b36;
    margin-top: 10px;
    border-radius: 4px;
    width:150px;
    height:50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

#decodificar:after{
    content: "> Codificando";
    color: #fff;
    font-size: 16px;

}

#decodificar:hover{
    background-color: #343644;
}

#decodificar:checked{
    background-color: #eeeeee;
}

#decodificar:checked:after{
    content: "> Decodificando";
    color: #292b36;
}